* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.container1 {
  width: 100%;
  height: 7em;

  background-color: blueviolet;
}
body {
  background-color: black;
  color: white;
}
